<!DOCTYPE html>

<html>

<head>

<title>Payment</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body class = "payment-page">


<h1 class="cart-title">

💳 Payment

</h1>


<div class="payment-box">


<h2>
    💳 Choose Payment Method
</h2>

<p>
    Customer:
    <strong>{{ order["name"] }}</strong>
</p>


<form
    action="{{ url_for('confirm_order') }}"
    method="POST"
>

    <div class="payment-option">

        <input
            type="radio"
            name="payment"
            value="COD"
            id="cod"
            required
        >

        <label for="cod">
            💵 Cash On Delivery
        </label>

    </div>


    <div class="payment-option">

        <input
            type="radio"
            name="payment"
            value="UPI"
            id="upi"
        >

        <label for="upi">
            📱 UPI Payment
        </label>

    </div>


    <div class="payment-option">

        <input
            type="radio"
            name="payment"
            value="Card"
            id="card"
        >

        <label for="card">
            💳 Card Payment
        </label>

    </div>


    <h3>
        Total Amount:
        ₹{{ order["total"] }}
    </h3>


    <button
        type="submit"
        class="checkout-btn"
    >
        Confirm Order
    </button>

</form>


</div>



</body>

</html>