<!DOCTYPE html>

<html>

<head>

<title>Payment</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<h1 class="cart-title">

💳 Payment

</h1>



<div class="payment-box">


<h2>
Choose Payment Method
</h2>



<form action="/confirm_order" method="POST">


<label>

<input type="radio" name="payment" value="COD" required>

💵 Cash On Delivery

</label>


<br><br>


<label>

<input type="radio" name="payment" value="UPI">

📱 UPI Payment

</label>



<br><br>


<label>

<input type="radio" name="payment" value="Card">

💳 Card Payment

</label>



<h3>

Total Amount :
₹{{order.total}}

</h3>



<button class="checkout-btn">

Confirm Order

</button>



</form>


</div>


</body>

</html>