<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Search Food</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1 class="page-title">
🔍 Search Food
</h1>

<form action="/search_food" method="GET" class="search-form">

    <input
        type="text"
        name="search"
        placeholder="Search Food..."
        value="{{ search }}">

    <button type="submit">
        Search
    </button>

</form>

```html
{% if results %}

<div class="store-container">

    {% for item in results %}

    <div class="store-card">

        <h2>
            {{ item.food }}
        </h2>

        <p>
            🏪 {{ item.store.name }}
        </p>

        <p>
            📂 {{ item.category }}
        </p>

        <p>
            💰 ₹{{ item.price }}
        </p>

        <div class="search-card-buttons">

            <a class="btn" href="/menu/{{ item.store.store_id }}">
                View Restaurant
            </a>

            <form action="/add_to_cart" method="POST">

                <input type="hidden"
                       name="food"
                       value="{{ item.food }}">

                <input type="hidden"
                       name="price"
                       value="{{ item.price }}">

                <input type="hidden"
                       name="store_id"
                       value="{{ item.store.store_id }}">

                <input type="hidden"
                       name="quantity"
                       value="1">
                <input type="hidden"
                       name="source" 
                       value="search">
                <button type="submit" class="add-btn">

                      {% if item.quantity > 0 %}
                      + {{ item.quantity }}
                     {% else %}
                          + Add
                      {% endif %}

    </button>

            </form>

        </div>

    </div>

    {% endfor %}

</div>

{% elif search %}

<div class="empty-cart">

    <h2>
        No food found 😔
    </h2>

    <p>
        Try searching with another name.
    </p>

</div>

{% endif %}
```


<a class="home-link" href="/stores">
← Back to Stores
</a>

</body>

</html>